h1 {
    color: white;
}
h2 {
    color: cyan;
    text-align: center;
}
p {
    color: white;
    font-size: larger;
    text-align: justify;
}
header, footer {
    background-color: #0d0a20;
    color: white;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}
#speech {
    text-align: center;
}
nav ul li a {
    color: rgb(196, 196, 196);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.4);
    height: auto;
    line-height: 1.6;
}
main {
    background-color: #0a0817;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
main h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
main img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
article {
    border: double 10px #ccc;
    margin: 10px;
    margin-bottom: 40px;
    padding: 20px;
    flex: 1;
}
figcaption {
    color: #999898;
    text-align: center;
}
footer {
    background-color: #262336;
    color: white;
    padding: 10px;
    text-align: center;
    position: flex;
    bottom: 0;
    width: auto;
}
.srcImage{
    width: 100%;
    max-width: max-content;
}
.srcImageTooBig{
    width: 50%;
    max-width: max-content;
}
@media (min-width: 768px) {
    header {
        padding: 20px;
    }
    nav ul li {
        margin-right: 30px;
    }
    main {
        padding: 40px;
    }
    article {
        margin-bottom: 60px;
        padding: 40px;
    }
}
@media (min-width: 1024px) {
    nav ul li {
        margin-right: 40px;
    }
    main {
        padding: 60px;
    }
    article {
        margin-bottom: 80px;
        padding: 60px;
    }
}
